.app {
  height: 100vh;

  display: grid;
  grid-template:
    'header header' 50px
    'left-menu emails' 1fr /
    180px 1fr;
}

.app > .left-menu {
  grid-area: left-menu;
  padding: 10px;
  padding-left: 0;
}

.app > .left-menu .inbox-list {
  display: grid;
  grid-gap: 10px;
}

.app > .left-menu .inbox-list .item {
  padding: 5px 10px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.app > .left-menu .inbox-list .item.active {
  background-color: #ff000050;
}

.app > .left-menu .inbox-list .item.toggle {
  background-color: transparent;
}

.title {
  padding: 1rem;
}

.title h1 {
  padding-left: 56px;

  font-weight: normal;
}
