@import "../styles/header-component-styles/header.css";
@import "../styles/inboxlist-component-styles/inxlist.css";
@import "../styles/main-component-styles/main.css";


.app {
  height: 100vh;

  display: grid;
  grid-template:
    'header header' 50px
    'left-menu emails' 1fr /
    180px 1fr;
}




