.email-content--header {
    padding: 0.5rem 1rem;
  
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 1rem;
  }
  
  .email-content--header .avatar {
    width: 56px;
    height: 56px;
  
    border-radius: 100%;
    background-color: #eee;
  }

  .emailForm{
    display: grid;
    position: relative;
    /* place-items: center; */
  }

  .email-text-box {
    border-radius: 10px;
    border: solid 1px grey;
    margin: 5px;
    width: 50vw;
    height: 300px;
  }

