/* .email-compose {
} */

.email-compose .icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-bottom: 110px;
  margin-right: 10px;
}

.email-compose .email-border {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 1.0rem;
  display: inline-block;
  width: 75%;
}

.email-compose > .email-border > .header-container {
  display: grid;
  grid-template-columns: 25px 25px auto 15px;
}

.email-compose > .email-border > .header-container > * {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 1rem;
}

.email-compose > .email-border > .header-container > .reply {
  width: 25px;
  height: 25px;
}

.email-compose > .email-border > .header-container > .more-options {
  margin-top: 8px;
}

.email-compose > .email-border > .header-container > .email-receiver {
  color: grey;
  font-size: medium;
}

.email-compose > .email-border > .compose-area {
  height: 100px;
}

.email-compose > .email-border > .compose-actions {
  display: grid;
  grid-template-columns: 110px auto 45px;
}

.email-compose > .email-border > .compose-actions > * {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 1rem;
}

.email-compose > .email-border > .compose-actions > .send-button {
  width: 100px;
  height: 40px;
}