.app > .header {
    grid-area: header;
  
    display: grid;
    grid-template-columns: 180px 1fr;
  
    border-bottom: solid 1px #00000020;
  }
  .app > .header > .search {
    display: grid;
    padding: 6px;
  }
  
  .app > .header > .search .search-bar {
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    padding: 0 10px;
    font-size: 1rem;
  }

  .email-info {
    padding: 0.25rem 0;
  }
  
  .email-info .sender-info h2 {
    margin-right: 1rem;
  
    display: inline-block;
  
    font-size: 0.925rem;
  }
  
  .email-info .user-info {
    margin-top: 0.5rem;
  }
  
  .email-info .user-info p {
    font-size: 0.825rem;
  }
  