.app {
    height: 100vh;
  
    display: grid;
    grid-template:
      'header header' 50px
      'left-menu emails' 1fr /
      180px 1fr;
  }
   
.email-toolbar {
    padding: 0.5rem 2rem;
  
    display: grid;
    grid-template-columns: auto 1fr auto;
  
    border-bottom: 1px solid #eee;
  }
  .email-toolbar {
      padding: 0.5rem 2rem;
    
      display: grid;
      grid-template-columns: auto 1fr auto;
    
      border-bottom: 1px solid #eee;
    }
  
  .email-toolbar > ul {
      list-style-type: none;
    }

    .email-toolbar .icon {
        width: 24px;
        height: 24px;
      }      
    
    .email-toolbar > * {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      gap: 1rem;
    }
    
    .email-toolbar button {
      padding: 0.25rem 0.5rem 0.4rem;
    
      border-radius: 0.5rem;
      border: 1px solid #a1a1a1;
      background-color: transparent;
    
      font-weight: bold;
    }
  
    .app > .left-menu .inbox-list .item.active {
      background-color: #ff000050;
    }
  
  .app > .left-menu .inbox-list .item {
    padding: 5px 10px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .app > .left-menu .inbox-list .item.toggle {
    background-color: transparent;
  }
  
