
#writeEmailContainer {
    display: grid;
}

li {
    float: left;
    margin: 1%;
}



  
 ul {
    list-style-type: none;
    grid-auto-flow: column;
  }

 .icon {
    width: 24px;
    height: 24px;
  }
  

  #iconContainer {
    width: 30%;
    bottom: -43%;
    position: absolute;
    left: 17%;
    grid-auto-flow: row;
    
  }