.compose {
    display: grid;

    grid-template-columns: 2% auto;
}

.compose--field {
    position: relative;

    width: 180vh;
    height:250px;

    background-color: white;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(228, 228, 228);

    margin: auto;
    margin-bottom: 30px;
}

.avatar {
    border-radius: 50px;
    width: 50px;
}
